@charset "utf-8";

.dataTabBox {
  display: flex;
  height: 64px;
  gap:16px;
  padding:0 24px;
  border-radius: 12px;
  background-color:#EEF2F7;

  .tabItem {

    &.active {
        color:#1D1D1D;
      .dataTabBox__title,
      .dataTabBox__button {
        color:#1D1D1D;
        font-weight: 700;
        .count {
          background-color: #325EE6;
          color:#fff;
          border-color: #325EE6;
        }
      }
    }
  }

  &__title,
  &__text,
  &__button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap:8px;
    color:#555;
    font-size:17px;
    font-weight: 700;
    transition: all 0.2s;
    background: transparent;
    border: none;

    .count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width:32px;
      height: 32px;
      border-radius: 50%;
      border:1px solid #C6C6C6;
      background-color: #fff;
      font-size:17px;
      font-weight: 700;
    }

  }
}   