@charset "utf-8";

// 버튼 타입 믹스인
@mixin button-type($type) {
    &.type#{$type} {
        background-image: url('@images/common/button/btn_que#{$type}.svg');
    }
}

.addressDownload {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top:48px;
    }
    &__more {
        display: flex;
        align-items: center;
        height: 48px;
        padding:0 18px 0 24px;
        border-radius: 6px;
        border:1px solid #D8D8D8;
        background: #F8F8F8;
    }
    &__moreTip {
        display: inline-block;
        padding:0 49px 0 28px;
        background-image:url('@images/common/bullet/bul_tip01.svg'), url('@images/common/bullet/bul_divider.svg') ;
        background-repeat:no-repeat no-repeat;
        background-position: 0 50% , right 24px top 5px;
    }

    &__link {
        display: inline-block;
        padding-right:40px;
        background: url('@images/common/bullet/bul_arrow06.svg') no-repeat right 50%;
        color:#325ee6;
        font-size:19px;
        font-weight: 700;
    }

    &__category {
        display: flex;
        align-items: center;
        width: 100%;
        gap:12px;
        margin-top:24px;

        li {
            flex:1;
        }
    }

    &__button {
        position: relative;
        display: block;
        width: 100%;
        height: 126px;
        padding-top:23px;
        border-radius: 12px;
        border:1px solid #C6C6C6;
        color:#1d1d1d;
        font-size:15px;
        font-weight: 700;
        background-position: left 50% top 25px;
        background-repeat: no-repeat;

        img {
            width: 40px;
            height: 40px;
            margin-bottom:10px;
        }

        &.active {
            background-color: #325ee6;
            color:#fff;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap:24px;
        margin-top:24px;
        li {
            width: 384px;
            
            .addressCard  {
                height: 433px;
            }
        }
    }
}