@charset "utf-8";


.hrLine {
    margin-top:40px;
    border:none;
    border-top:1px solid #C6C6C6;
}

.sectionBox {
    display: flex;
    justify-content: space-between;
    &__left {
        width: 562px;
    }
    &__right {
        width: 588px;

        &.type01 {
            margin-top:98px;
        }
    }
}


.section {
    &__title {
        margin-top:24px;
        color: #1D1D1D;
        font-size:24px;
        font-weight: 700;
    }
    &__text {
        margin-top:24px;
        color: #555555;
        font-size:19px;
    }
    &__tip {
        margin-top:20px;
        color: #717171;
        font-size:17px;
    }
    &__subTitle {
        margin-top:24px;
        color: #1D1D1D;
        font-size:19px;
        font-weight: 700;

        .subTip {
            font-weight: normal;
        }
    }
    &__subText {
        margin-top:16px;
        padding-left:32px;
        background: url('@images/common/bullet/bul_dot02.svg') no-repeat 0 0;
        color: #555;
        font-size:17px;
    }
    &__exampleInformation {
        margin-top:16px;
        padding:16px 16px 16px 44px;
        border-radius: 8px;
        border:1px solid #D8D8D8;
        background:#F8F8F8 url('@images/common/bullet/bul_tip01.svg') no-repeat 17px 14px;

        dt {
            color:#1D1D1D;
            font-size: 17px;
            font-weight: 700;
        }
        dd {
            margin-top:8px;
            color:#555;
            font-size:15px;
        }
    }
}