@charset "utf-8";

.commonBox {
    margin-top:40px;
    padding:32px;
    border-radius: 12px;
    border:1px solid #B1B8BE;

    & + .commonBox {
        margin-top:24px;
    }

    &__title {
        font-size:24px;
        font-weight: 700;
    }
    &__essential {
        display: inline-block;
        color: #CD0603;
        vertical-align: middle;
    }
    &__tip {
        margin-top:28px;
        font-size:15px;
    }

    &__subTitle {
        margin-top:24px;
        font-weight: 700;
    }
    &__form {
        margin-top:16px;
    }
    &__counting {
        margin-top:5px;
        font-size:15px;
        text-align: right;
    }
    &__number {
        color:#CC0502;
    }
}