@charset "utf-8";

.commonBox {
    margin-top:40px;
    padding:32px;
    border-radius: 12px;
    border:1px solid #B1B8BE;
    
    &.noGap {margin:0;}

    & + .commonBox {
        margin-top:24px;
    }

    &__header {
        padding-bottom:24px;
        border-bottom: 1px solid #C6C6C6;
    }

    &__title {
        font-size:24px;
        font-weight: 700;
    }

    &__subTitle {
        font-size:21px;
        font-weight: 700;
    }
    &__text {
        margin-top:24px;
        font-size:17px;
    }
    &__text02 {
        margin-top:24px;
        color:#1d1d1d;
        font-size:19px;
        font-weight: 700;
    }
    &__function {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__functionList {
        display: flex;
        gap:16px;
    }
    &__essential {
        display: inline-block;
        color: #CD0603;
        vertical-align: middle;
    }
    &__tip {
        margin-top:28px;
        font-size:15px;
    }
    &__notice {
        
    }
    &__tipBox {
        display: flex;
        align-items: center;
        height: 50px;
        margin-top:28px;
        padding-left:44px;
        border-radius: 8px;
        border:1px solid #D8D8D8;
        background:#F8F8F8 url('@images/common/bullet/bul_tip01.svg') no-repeat 17px 14px;
        font-size:17px;

        &.type01 {
            align-items: flex-start;
            height: auto;
            padding:16px 16px 16px 44px;
            background-position: 17px 17px;
        }
    }

    &__subTitle {
        margin-top:24px;
        font-weight: 700;
    }
    &__form {
        margin-top:16px;
    }
    &__counting {
        margin-top:5px;
        font-size:15px;
        text-align: right;
    }
    &__number {
        color:#CC0502;
    }

    &__explanation {
        display: flex;
        flex-wrap: wrap;
        gap:16px 12px;
        margin-top:24px;

        &.type01 {
            margin-top:16px;
            padding:23px 0;
            border-top:1px solid #C6C6C6;
            border-bottom:1px solid #C6C6C6;
        }

        dt {
            width:180px;
            font-size:17px;
            font-weight: 700;
        }
        dd {
            width: calc(100% - 192px);
            font-size:17px;
        }
    }

    &__radioList {
        margin-top:16px;
        li {
            margin-top:8px;

            &:first-child {
                margin:0;
            }
        }
    }

    &__information {
        margin-top:24px;
        padding-top:24px;
        border-top:1px solid #C6C6C6;
    }
    &__informationCategory {
        display: inline-flex;
        align-items: center;
        height: 24px;
        padding:0 8px;
        background: #ECF2FE;
        color:#325EE6;
        font-size:15px;
    }
    &__informationTitle {
        margin-top:16px;
        font-size:21px;
        font-weight: 700;
    }
    &__informationTitle02 {
        margin-top:16px;
        font-size:19px;
        font-weight: 700;
    }
    &__informationList {
        li {
            margin-top:16px;
            padding-left:20px;
            background: url('@images/common/bullet/bul_dot01.svg') no-repeat 0 10px / 4px;
            font-size:17px;
        }
    }

    &__download {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 64px;
        margin-top:24px;
        padding:0 16px;
        border:1px solid #CDD1D5;
        border-radius: 8px;

        & + .commonBox__download {
            margin-top:16px;
        }
    }
    &__downloadTitle {
        font-size:17px;
    }
    &__downloadButton {
        display: inline-block;
        padding-right:26px;
        background: url('@images/common/button/btn_download.svg') no-repeat right 50%; 
        color: #1D1D1D;
        font-size:17px;
    }
}